<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div id="container">
  
  <div class="product-details">
    <h1>{{card.name}}</h1>
  
    <div class="reward">

      <h3>Annual Fee: {{card.annualFee[1]}}</h3>
      <h3>Rewards:</h3>
      <ul>
        @for(reward of card.rewardsInfo; track reward){
          <li>{{reward}}</li>
        }
      </ul>
    </div>
  </div>

  <div class="card-image">
    <div class="img-parent">
        <img
        src="{{card.img}}"
          alt=""
        />
    </div>

    <div class="info">
      <h2>APR</h2>
      <ul>
        <li>{{card.aprInfo}}</li>
      </ul>
      <h2>Current Offer</h2>
      <ul>
        <li>{{card.newOffer}}</li>
      </ul>
    </div>
  </div>
</div>
