<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Card</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="issuer">Issuer</label>
      <select id="issuer" name="issuer" (change)="onSelectionChange($event)" [(ngModel)]="issuer" >
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
    </p>


    @if (isIssuer){
      <p>
      <label for="cardName">Card Name</label>
      <input type="text" id="cardName" name="cardName" [(ngModel)]="cardName"/>
    </p>
  }



    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Add</button>
    </p>
  </form>
</dialog>