<div>
  <label for="title">Title</label>
  <input type="text" [(ngModel)]="title" placeholder="Enter Card Title Here" />

  <label for="description">Description</label>
  <input
    type="text"
    [(ngModel)]="description"
    placeholder="Enter Card Description Here"
  />
  <label for="issuers">Pick an Issuer:</label>
  <select id="issuers" name="issuers">
    <option>---</option>
    <option value="Chase">Chase</option>
    <option value="capOne">Capital One</option>
    <option value="amex">American Express</option>
    <option value="citi">Citi</option>
  </select>

  <button (click)="submitCard()">+</button>
</div>
