<div class="container">
  <table>
    <thead>
      <tr></tr>
      <tr>
        <th>Categories</th>
        <th>🥇 Place</th>
        <th>🥈 Place</th>
        <th>🥉 Place</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>cate 1</td>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
      </tr>
      <tr>
        <td>cate 2</td>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
      </tr>
      <tr>
        <td>cate 3</td>
        <td>Cell 1</td>
        <td>Cell 2</td>
        <td>Cell 3</td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="showCards()">Show</button>
