.your-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.first-row{
  display: flex;
  justify-content: space-between;

}


.custom-btn {
 width: 2rem;
 height: 2rem;
 color: #fff;
 border-radius: 25px;
 padding: 5px;
 font-family: 'Lato', sans-serif;
 font-weight: 500;
 background: transparent;
 cursor: pointer;
 transition: all 0.3s ease;
margin-top: 1rem;
margin-right: 1rem;
 display: inline-block;

 outline: none;
}

.btn-1 {
 background: rgb(6,14,131);
 background: linear-gradient(0deg, #16A8DC 0%, #163C74 100%);
 border: none;
}

.btn-1:hover {
 background: rgb(0,3,255);
 background: linear-gradient(0deg, rgb(0, 17, 255) 0%, rgb(67, 134, 202) 100%);
}
/* Color palette for the app{
#F1F6F8
#E9F0F3
#80B0CE
#16A8DC
#163C74

pink
#F78380

} */
